<!DOCTYPE html>
<html lang="en">
<head>
    <title>music</title>
    <link rel="stylesheet" type="text/css" href="D:\day7\personal_website\static\styles.css">
</head>
<body>
    <img src="D:\day5\assignment_day5\images\spotify.jfif" alt="SPOTIFY" width="150"><br>
    <h2>TRIVANDRUM</h2>
    <p>Your weekly update of the most popular tracks in Trivandrum ,India.</p><br>
    <table>
        <tr>
            <th>#</th>
            <th>Track</th>
            <th>Album</th>
            <th>Artists</th>
            <th>Streaks</th>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="https://open.spotify.com/track/4bvHCjknZC3evn7NthBZVt" target="blank">AARARAARI RAARO(JAWAN)</a></td>
            <td>
                <a href="https://open.spotify.com/track/4bvHCjknZC3evn7NthBZVt" target="blank">
                    <img src="D:\day5\assignment_day5\images\ara.jfif" alt="song of jawan "width="200">
                </a>
            </td>
            <td>Anirudh Ravichander,Deepthi Suresh,Irshad Kamil</td>
            <td>  8</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="https://open.spotify.com/track/2Ss8KZSmCN9AL2E0AD2MoL" target="blank">KANNAANA KANNEY(VISVASAM)</a></td>
            <td><a href="https://open.spotify.com/track/2Ss8KZSmCN9AL2E0AD2MoL"target="blank">
                <img src="D:\day5\assignment_day5\images\kannan.jfif" alt="SONG OF VISVASAM" width="200">
            </a>
        </td>
            <td>Sid Sriram,Thamara</td>
            <td>12</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="https://open.spotify.com/track/4hzN1zOUIHwSwC13DeUfUC"target="blank">KARMUKIL VARNANTE(NANDANAM)</a></td>
            <td>
                <a href="https://open.spotify.com/track/4hzN1zOUIHwSwC13DeUfUC"target="blank">
                    <img src="D:\day5\assignment_day5\images\karmukil.jpg" alt="SONG OF NANDANAM" WIDTH="200">
                </a>
            </td>
            <td>K S Chithra,Gireesh Puthanchery</td>
            <td>9</td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href="https://open.spotify.com/track/71pTPbzPNXMvUoLyQQYiaB"target="blank">KHEECH MERI PHOTO(SANAM TERI KASAM)</a></td>

            <td>
                <a href="https://open.spotify.com/track/71pTPbzPNXMvUoLyQQYiaB"target="blank">
                    <img src="D:\day5\assignment_day5\images\sanam.jfif" alt="song of sanam teri kasam "width="200">
                </a>
            </td>
            <td>Sameer Anjaan,Darshan Raval,Neeti Mohan,Akasa Singh</td>
            <td>9</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href="https://open.spotify.com/track/6afirDLnFSH0T0PM9QHHJD"target="blank">>ENNAMME ONNU KAANAN(NAMMAL)</a></td>
            <td>
                <a href="https://open.spotify.com/track/6afirDLnFSH0T0PM9QHHJD"target="blank">
                    <img src="D:\day5\assignment_day5\images\namal.jfif" alt="song of nammal "width="200">
                </a>
            </td>
            <td>K.J. Yesudas,Mohan Sithara,Kaithapram</td>
            <td>25</td>
        </tr>
        <tr>
            <td>6</td>
            <td><a href="https://open.spotify.com/track/3WALn4IKUl7FlXjBg228nj"target="blank">SADDA DIL VE TU(ABCD</td>
            <td>
                <a href="https://open.spotify.com/track/3WALn4IKUl7FlXjBg228nj"target="blank">
                    <img src="D:\day5\assignment_day5\images\abcd.jfif" alt="song of ABCD "width="200" >
                </a>
            </td>
            <td>Sachin Sanghvi,Jigar Saraiya,Hard Kaur</td>
            <td>17</td>
        </tr>
        <tr>
            <td>7</td>
            <td><a href="https://open.spotify.com/track/6y7PQStzLzEjZClLeOb8sQ"target="blank">KATTADI THANALUM(CLASSMATES)</a></td>
            <td>
                <a href="https://open.spotify.com/track/6y7PQStzLzEjZClLeOb8sQ"target="blank">
                    <img src="D:\day5\assignment_day5\images\namal.jfif" alt="song of nammal "width="200" >
                </a>
            </td>
            <td>Alex Paul,Vayalar Sharath Chandra Varma,Vidhu Prathap, Reju Joseph, Ramesh Babu, Cicily</td>
            <td>15</td>
        </tr>

    </table>

</body>
</html>